/* Created by: Trisha Ray
* Created on: March 2025
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  max-width: 900px;
  width: 100%;
}

.mdl-textfield__error {
  color: rgb(69, 11, 11);
}

.page-content {
  color: rgb(85, 37, 37);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  height: 500px;
}
                 